---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Такой страницы не существует 404"
        description="Данная страница не найдена 404">
  <h1 class="section-heading">Страница не найдена 404</h1>
  <p>Такой страницы не существует. Перейдите, пожалуйста,<a href="/">на главную страницу</a></p>
</Layout>